@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato:wght@700&display=swap');

input[type=button]{
    background: linear-gradient(93.24deg, #444BAB 0%, #3CA5C2 100%);
    border-radius: 6px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    line-height: 149.8%;
    color: whitesmoke;
}
.nav-bar {
    position: fixed;
     z-index: 20;        /* puts a fancy look by keeping navbar fixed while scroll */
    width: 1540px;
    height: 79px;
    left: 0px;
    top: 0px;
    font-family: 'abel', sans-serif;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.03);
    text-decoration: none;
}

.group{
    
position: absolute;
width: 262px;
height: 42.22px;
left: 50px;
top: 18.76px;
}
.nav-links *{
    position: absolute;
    text-decoration: none;
    height: 19px;
    font-size: 15px;
    color: #4F516B;
    top: 35px;
    line-height: 16px;
}

.learning-path{   
    width: 115px;
    left: 369px;
}
.Success-stories{
    width: 100px;
    left: 525px;
}
.Hire{  
    width: 81px;
    left: 665px;
}
.Campus-Program{
    width: 114px;
    left: 786px;
}
.Blog{
    width: 41px;
    left: 940px;
}
.Events{
    width: 49px;
    left: 1021px;
}
.log{
    width: 45px;
    height: 17.77px;
    left: 1131px;
    font-size: 16px;
    color: #444BAB;
}
.Start-free-trial{
position: absolute;
width: 189px;
height: 40px;
left: 1296px;
top: 22px;
position: absolute;
right: 2%;
bottom: 99.45%;
font-weight: 600;
font-size: 16px;
}
.header{
    position: absolute;
    width: 641px;
    height: 170px;
    left: 123px;
    top: 213px;
    
    /* or 90px */
}
#Be-a-text{
    color: #444557;
}
#Software-Enginner-text{
    color: linear-gradient(91.41deg,#303ABB 100%,#3CA5C2 100%);
}
.form-box{
box-sizing: border-box;
position:absolute;
width: 493px;
height: 523px;
left: 848px;
top: 213px;

background: #FFFFFF;
border: 1px solid rgba(174, 178, 203, 0.22);
box-shadow: 0px 0.5px 4px rgba(0, 0, 0, 0.25);
border-radius: 8px;
}
.intro{

font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 149.8%;

/* identical to box height, or 21px */
text-align: center;

color: #4F516B;
}
.def{
    
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 149.8%;
    
    /* identical to box height, or 36px */
    text-align: center;
    
    color: #4F516B;
}
label {
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 100;
position: relative;
left: 20px;
line-height: 30px;

/* identical to box height */

color: #737171;
}

input[type=text],[type=email],[type=number] {
    width: 450px;
    height: 48px;
    position: relative;
    left: 20px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 6px;
}
.Book-Call{    
position: relative;
top: 45px;
left: 20px;
width: 450px;
height: 50px;
}
.fancy{
    position: absolute;
width: 235px;
height: 489px;
left: 1206px;
top: 143px;

background: linear-gradient(180deg, #444BAB 0%, rgba(99, 167, 211, 0.265625) 73.44%, rgba(110, 200, 225, 0) 100%);
}
.companies{
position: absolute;
width: 513px;
height: 95.21px;
left: 105px;
top: 427px;
}
.logo *{
position: relative;
width: 162px;
height: 53px;
display: inline-block;
}
.many-more{
    position:absolute;
    width: 180px;
    height: 24px;
    left: 497px;
    
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight:500 !important;
    font-size :16px ;
    line-height: 24px;
    
    /* identical to box height */
    
    color: #272834;
}
#Start-Learning{
position: absolute;
width: 302px;
height: 56px;
left: 123px;
top: 616px;
}
#Watch-100{
    position: absolute;
width: 546px;
height: 27px;
left: 123px;
top:686px;

 font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 149.8%;

/* identical to box height, or 27px */

color: #263238;
}
.full-div{
position: absolute;
width:1540px;
height: 78px;
left: 0px;
top: 858px;
display: inline-block;
background: linear-gradient(180deg, #B0DEE7 -35.78%, rgba(176, 222, 231, 0) 174.51%);
}
.announce{
    position: absolute;
    left: 385px;
    top: 11px;
    bottom: 11px;
}
.full-div p{ 
        position: absolute;
    left: 467px;
     font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 149.8%;
    
      
    color: #263238;
}
.next{
    position: absolute;
    width: 232px;
    height: 45px;
    left: 604px;
    top: 1017px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 149.8%;
    
    /* identical to box height, or 45px */
    
    color: #4F516B;
}
.next2{
    position: absolute;
    width: 882px;
    height: 54px;
    left: 279px;
    top: 1090px;

    font-family: 'Nunito', sans-serif;
    line-height: 149.8%;

    /* or 27px */
    text-align: center;

    color: #505050;
}
.show-course {
    position: absolute;
    top: 1215px;
    left: 129px;
    width: 365px;
    height:545px;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    
}
.show-course img{
    width: 364px;
height: 262px;
border-radius: 6px 6px 0px 0px;
}
.name{
position: absolute;
width: 290px;
height: 50px;
left: 37px;
top: 56px;

font-family: 'Lexend', sans-serif;
font-size: 35px;
line-height: 50px;

/* identical to box height */
text-align: center;
letter-spacing: 0.1em;

color: #FFFFFF;

text-shadow: 0px 29px 20px #111111;
}
.about{

    position: absolute;
    width: 294px;
    height: 72px;
     left: 16px;
    top: 271px;
    
    font-family: 'Poppins',sans-serif;
    font-size: 24px;
    line-height: 149.8%;
    
    /* or 36px */
    
    color: #4F516B;
}
.description{
    position: absolute;
width: 332px;
height: 72px;
left: 16px;
top: 383px;

font-family: 'Poppins',sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;

color: #616161;
}
.show-course :link{
    position: absolute;
width: 177px;
height: 22px;
left: 16px;
top: 489px;
bottom: 36px;

font-family: 'Poppins',sans-serif;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 149.8%;

/* or 30px */

color: #444BAB;
}
#course1{
    left: 129px;
    top: 1215px;
}

.outer{
    position: relative;
    width: 1510px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 600px;
    top: 1215px;
}
.inner{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: 365px;
    display: inline-block;
    height: 545px;
    top: 15px;
    background: #FFFFFF;
border: 1px solid #D9D9D9;
border-radius: 10px;
}
.inner img{
    
position: absolute;
width: 364px;
height: 262px;
/* left: 129px; */
/* top: 1215px; */
border-radius: 6px 6px 0px 0px;
}
.inner h2{
    position: absolute;
width: 290px;
height: 50px;
 left: 16px;
top: 90px; 

font-family: 'Lexend',sans-serif;
line-height: 50px;

/* identical to box height */
text-align: center;
letter-spacing: 0.1em;

color: #FFFFFF;

text-shadow: 0px 29px 20px #111111;
}
.HEAD{
position: absolute;
text-decoration: none;
width: 294px;
height: 72px;
left: 16px;
top: 286px;

font-family: 'Poppins',sans-serif;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 149.8%;

/* or 36px */

color: #4F516B;
}
.description{
    position: absolute;
width: 332px;
height: 72px;
left: 17px;
top: 390px;

font-family: 'Poppins',sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;

color: #616161;
}
.inner-link{
    
position: absolute;
width: 117px;
height: 22px;
left: 16px;
top: 489px;

font-family: 'Poppins',sans-serif;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 149.8%;

/* or 30px */

color: #444BAB;
}
.text{
    position: absolute;
   
    display: flex;
    width:1540px;
    height: 92px;
    color: #444BAB;
    justify-content: center;
}
.text  p{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
font-size: 20px;
line-height: 149.8%;
}
.text h3{
    position: absolute;
width: 686px;
height: 44px;
top: 18px;

font-family: 'Poppins',sans-serif;
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 149.8%;

/* or 54px */
text-align: center;

color: #444557;
}

#text1{
    top: 1858px;
}
.numbers{
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    top: 2034px;
    width: 1540px;
    height: auto;
    display: flex;
}
.boxes{
    position: relative;
    display: inline-block;
    justify-content: space-evenly;
    width: 181px;
    height: 97px;
}
.number{
width: 149px;
height: 60px;
display: flex;
justify-content: space-evenly;
font-family: 'Lato', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 40px;
color: #444BAB;
line-height: 149.8%;

}
.define{
    position: absolute;
    width: 149px;
    height: 30px;
    top: 77px;
    
    font-family: 'Inter',sans-serif;
   
    line-height: 149.8%;
    
    /* identical to box height, or 30px */
    text-align: center;
    
    color: #4F5062;    
}
#text2{
    position: absolute;
    top: 2277px;
}
.outer-info{
    top: 2503px;
    position: absolute;
    height: 700px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.inner-info{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 1198px;
    height: 325px;
}
.info-image{
    width: 490px;
    height: 326px;
    border-radius: 10px;
}
.heading{
   

    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 149.8%;
    
    /* identical to box height, or 45px */
    
    color: #4F516B;
}
.text-Area-info{
    position: relative;
    display: flex-start;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 708px;
    height: 326px;

}
.para{
    width: 506px;
    font-family: 'Poppins',sans-serif;
    font-weight: 400;

    line-height: 149.8%;
    
    /* or 27px */
    
    color: #505050;
}
.text-Area-info button{
    
box-sizing: border-box;

position: absolute;
width: 184px;
height: 49px;
background: linear-gradient(180deg, #3E8EBC 0%, #444BAB 100%);

border-radius: 6px;
}
.Alumni{
    position: relative;
display: flex;
    top: 2764px;
    left: 124px;
}
.inside-Alumni{
    display: flex;
    flex-direction: column;
}
.title{
    margin: 0;
    margin-bottom: 14px;
    font-family: 'Popins',sans-serif;
    font: size 20px;
    line-height: 149.8%;
    font-weight: 600;
    color: #444BAB;
}
.Alumni h2{
    margin: 0;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 149.8%;

    /* or 54px */

    color: #4F516B;
    width: 633px;
    height: 158px;
}
.description2{
    top: 225px;
    left: 0;
    width: 611px;
height: 186px;
font-family: 'Poppins',sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;

color: #616161;
}
.logo-showup{
    display: flex;
    order: 3;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 480px;
    height: 400px;
    margin-left: 50px;
}
.logo-showup img{
    width: 150px;
    height: 32px;
}
#text3{
    position: absolute;
    top: 3892px;
}
.profile{

    position: absolute;
    width: 171px;
    height: 171px;
    left: 240px;
    top: 4150px;

    border-radius: 200px;
}
#profile-colon{
    position: absolute;
    width: 52px;
    height: 81px;
    left: 456px;
    top: 3925px;
    
    font-family: 'Plantagenet Cherokee';
    font-style: normal;
    font-weight: 400;
    font-size: 151px;
    line-height: 149.8%;
    
    /* or 226px */
    
    color: rgba(132, 141, 199, 0.44);
}
#profile-para{
    position: absolute;
    width: 683px;
    height: 75px;
    left: 535px;
    top: 4134px;
    
    font-family: 'Poppins',sans-serif;
    line-height: 149.8%;
    
    /* or 27px */
    
    color: #6e6d6d;
}
#profile-heading{
    position: absolute;
    width: 136px;
    height: 30px;
    left: 535px;
    top: 4219px;
    
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 149.8%;
    
    /* identical to box height, or 30px */
    text-align: center;
    
    color: #000000;
}
#profile-logo{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 681px;
    top: 4245px;
}
#profile-text{
    position: absolute;
    width: 280px;
    height: 27px;
    left: 530px;
    top: 4255px;
    
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 149.8%;
    
    /* identical to box height, or 27px */
    text-align: center;
    
    color: #666262;
        
}
#profile-amazon-logo{
    position: absolute;
    width: 150px;
    height: 56px;
    left: 256px;
    top: 4331px;
}
#profile-button{
    box-sizing: border-box;

    position: absolute;
    width: 182px;
    height: 44px;
    left: 679px;
    top: 4425px;
    border-radius: 6px;
}
#profile-button-text{
/* Read More Stories */

position: absolute;
width: 138px;
height: 18px;
left: 698px;
top: 4436px;
text-decoration: none;
font-family: 'Gilroy-Bold',sans-serif;
font-size: 16px;
line-height: 19px;

background: linear-gradient(180deg, #444BAB 0%, #3E8EBC 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
}

#text4{
    position:absolute;
    top: 4596px;
}

.co-founder-div{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    top: 3897px;
    height: 755px;
    background: linear-gradient(96.55deg, rgba(62, 142, 188, 0.62) 0%, rgba(63, 126, 184, 0.536146) 30.88%, 
rgba(65, 106, 179, 0.429948) 84.64%, rgba(67, 81, 173, 0.301779) 99.02%, rgba(68, 75, 171, 0.67) 102.21%);
}
.co-founder{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: 368px;
    height: 623px;
}
.box{
    box-sizing: border-box;
    display: flex ;
    flex-direction: column;  
    
    position: absolute;
    width: 368px;
    height: 552px;
    bottom: 0;
    background: #FFFFFF;
    border: 1px solid rgba(132, 144, 199, 0.35);
}
.co-founder img{
    width: 166.22px;
height: 179.49px;
z-index: 12;
border-radius: 144px;
background:rgb(231, 241, 240);
}
.box h2{
    
    font-family: 'Poppins';
    font-style: normal;
    padding-left: 111px;
    padding-top: 115px;
    font-weight: 600;
    font-size: 16px;
    /* line-height: 149.8%; */
    
    /* or 24px */
    
    color: #272834;
}
.box #designation{
    position: absolute;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    padding-left: 71px;
    padding-top: 144px;
    font-size: 12px;
    line-height: 149.8%;
    
    /* or 18px */
    
    color: #67686B;
    
       
}
#about{
    position: absolute;
    width: 326px;
    height: 250px;
    left: 21px;
    padding-top: 191px;
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 163.8%;
    
    /* or 25px */
    text-align: center;
    
    color: #505050;
    
    
}
#coFounderDivLogo *{
    position: absolute;
    width: 32px;
    height: 32px;
    top: 454px;
    left: 144px;
}
#coFounderDivLogo2 *{
    position: absolute;
    width: 32px;
    height: 32px;
    top: 454px;
    left: 192px;
}


