@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@600&display=swap');

input[type=button]{
    background: linear-gradient(93.24deg, #444BAB 0%, #3CA5C2 100%);
    border-radius: 6px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    line-height: 149.8%;
    color: whitesmoke;
}
.nav-bar {
    position: fixed;
     z-index: 20;        /* puts a fancy look by keeping navbar fixed while scroll */
    width: 1540px;
    height: 79px;
    left: 0px;
    top: 0px;
    font-family: 'Abel', sans-serif;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.03);
    text-decoration: none;
}

.group{
    
position: absolute;
width: 262px;
height: 42.22px;
left: 50px;
top: 18.76px;
}
.nav-links *{
    position: absolute;
    text-decoration: none;
    height: 19px;
    font-size: 15px;
    color: #4F516B;
    top: 35px;
    line-height: 16px;
}
.learning-path{   
    width: 115px;
    left: 369px;
}
.Success-stories{
    width: 100px;
    left: 525px;
}
.Hire{  
    width: 81px;
    left: 665px;
}
.Campus-Program{
    width: 114px;
    left: 786px;
}
.Blog{
    width: 41px;
    left: 940px;
}
.Events{
    width: 49px;
    left: 1021px;
}
.log{
    width: 45px;
    height: 17.77px;
    left: 1131px;
    font-size: 16px;
    color: #444BAB;
}
.Start-free-trial{
position: absolute;
width: 189px;
height: 40px;
left: 1296px;
top: 22px;
position: absolute;
right: 2%;
bottom: 99.45%;
font-weight: 600;
font-size: 16px;
}
.header{
    position: absolute;
    width: 641px;
    height: 170px;
    left: 123px;
    top: 213px;
    
    /* or 90px */
}
#Be-a-text{
    color: #444557;
}
#Software-Enginner-text{
    color: linear-gradient(91.41deg,#303ABB 100%,#3CA5C2 100%);
}
.form-box{
box-sizing: border-box;

position:absolute;
width: 493px;
height: 523px;
left: 848px;
top: 213px;

background: #FFFFFF;
border: 1px solid rgba(174, 178, 203, 0.22);
box-shadow: 0px 0.5px 4px rgba(0, 0, 0, 0.25);
border-radius: 8px;
}
.intro{

font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 149.8%;

/* identical to box height, or 21px */
text-align: center;

color: #4F516B;
}
.def{
    
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 149.8%;
    
    /* identical to box height, or 36px */
    text-align: center;
    
    color: #4F516B;
}
label {
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 100;
position: relative;
left: 20px;
line-height: 30px;

/* identical to box height */

color: #737171;
}

input[type=text],[type=email],[type=number] {
    width: 450px;
    height: 48px;
    position: relative;
    left: 20px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 6px;
}
.Book-Call{    
position: relative;
top: 45px;
left: 20px;
width: 450px;
height: 50px;
}
.fancy{
    position: absolute;
width: 235px;
height: 489px;
left: 1206px;
top: 143px;

background: linear-gradient(180deg, #444BAB 0%, rgba(99, 167, 211, 0.265625) 73.44%, rgba(110, 200, 225, 0) 100%);
}
.companies{
position: absolute;
width: 513px;
height: 95.21px;
left: 105px;
top: 427px;
}
.logo *{
position: relative;
width: 162px;
height: 53px;
display: inline-block;
}
.many-more{
    position:absolute;
    width: 180px;
    height: 24px;
    left: 497px;
    
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight:500 !important;
    font-size :16px ;
    line-height: 24px;
    
    /* identical to box height */
    
    color: #272834;
}
#Start-Learning{
position: absolute;
width: 302px;
height: 56px;
left: 123px;
top: 616px;
}
#Watch-100{
    position: absolute;
width: 546px;
height: 27px;
left: 123px;
top:686px;

 font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 149.8%;

/* identical to box height, or 27px */

color: #263238;
}
.full-div{
position: absolute;
width:1540px;
height: 78px;
left: 0px;
top: 858px;
display: inline-block;
background: linear-gradient(180deg, #B0DEE7 -35.78%, rgba(176, 222, 231, 0) 174.51%);
}
.announce{
    position: absolute;
    left: 385px;
    top: 11px;
    bottom: 11px;
}
.full-div p{ 
        position: absolute;
    left: 467px;
     font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 149.8%;
    
      
    color: #263238;
}
.next{
    position: absolute;
    width: 232px;
    height: 45px;
    left: 604px;
    top: 1017px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 149.8%;
    
    /* identical to box height, or 45px */
    
    color: #4F516B;
}
.next2{
    position: absolute;
    width: 882px;
    height: 54px;
    left: 279px;
    top: 1090px;

    font-family: 'Nunito', sans-serif;
    line-height: 149.8%;

    /* or 27px */
    text-align: center;

    color: #505050;
}
.show-course {
    position: absolute;
    top: 1215px;
    left: 129px;
    width: 365px;
    height:545px;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    
}
.show-course img{
    width: 364px;
height: 262px;
border-radius: 6px 6px 0px 0px;
}
.name{
position: absolute;
width: 290px;
height: 50px;
left: 37px;
top: 56px;

font-family: 'Lexend', sans-serif;
font-size: 35px;
line-height: 50px;

/* identical to box height */
text-align: center;
letter-spacing: 0.1em;

color: #FFFFFF;

text-shadow: 0px 29px 20px #111111;
}
.about{

    position: absolute;
    width: 294px;
    height: 72px;
     left: 16px;
    top: 271px;
    
    font-family: 'Poppins',sans-serif;
    font-size: 24px;
    line-height: 149.8%;
    
    /* or 36px */
    
    color: #4F516B;
}
.description{
    position: absolute;
width: 332px;
height: 72px;
left: 16px;
top: 383px;

font-family: 'Poppins',sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;

color: #616161;
}
.show-course :link{
    position: absolute;
width: 177px;
height: 22px;
left: 16px;
top: 489px;
bottom: 36px;

font-family: 'Poppins',sans-serif;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 149.8%;

/* or 30px */

color: #444BAB;
}
#course1{
    left: 129px;
    top: 1215px;
}

.outer{
    position: relative;
    width: 1510px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 600px;
    top: 1215px;
}
.inner{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: 365px;
    display: inline-block;
    height: 545px;
    top: 15px;
    background: #FFFFFF;
border: 1px solid #D9D9D9;
border-radius: 10px;
}
.inner img{
    
position: absolute;
width: 364px;
height: 262px;
/* left: 129px; */
/* top: 1215px; */
border-radius: 6px 6px 0px 0px;
}
.inner h2{
    position: absolute;
width: 290px;
height: 50px;
 left: 16px;
top: 90px; 

font-family: 'Lexend',sans-serif;
line-height: 50px;

/* identical to box height */
text-align: center;
letter-spacing: 0.1em;

color: #FFFFFF;

text-shadow: 0px 29px 20px #111111;
}
.HEAD{
position: absolute;
width: 294px;
height: 72px;
left: 16px;
top: 286px;

font-family: 'Poppins',sans-serif;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 149.8%;

/* or 36px */

color: #4F516B;
}
.description{
    position: absolute;
width: 332px;
height: 72px;
left: 17px;
top: 390px;

font-family: 'Poppins',sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;

color: #616161;
}
.inner a{
    
position: absolute;
width: 117px;
height: 22px;
left: 16px;
top: 489px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 149.8%;

/* or 30px */

color: #444BAB;
}